.carousel-js .slick-slide div {
    height: 10em;
    display: flex;
    align-items: center;
    justify-self: center;
}

.carousel-js .slick-slide div img {
    height: 8em;
    max-width: 8em;
    margin: auto;
    display: block !important;
}